<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Indicadores Economicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div *ngIf="isLoading" style="text-align: center;">
    <!-- <ion-spinner></ion-spinner> O cualquier otro indicador de carga que prefieras -->
    <ion-icon class="breathing-icon" size="large" name="cloud-download-outline"></ion-icon>
    <p>
      Obteniendo datos
    </p>
  </div>
  <div *ngIf="dataEconomy" style="text-align: center;">
    <ion-card *ngFor="let keyValuePair of dataEconomy | keyvalue">
      <ion-card-header>
        <ion-card-title>Información de {{ keyValuePair.key }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Fecha:</strong> {{ keyValuePair.value.date }}</p>
        <p><strong>Valor:</strong> {{ keyValuePair.value.value | currency:'CLP ': 'symbol':'1.1-2' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p>Apóyanos si te gustó la aplicación         
        <a href="https://www.paypal.com/donate/?hosted_button_id=KST6SVA4HNRAN" target="_blank"><ion-icon name="logo-paypal"></ion-icon> PayPal</a></p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
