<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Sé Parte de la Innovación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="container">
    <div class="content-container">
      <h2 style="text-align: center;">Acerca de Nosotros</h2>
      <p class="centered-text">Somos estudiantes del Duoc, apasionados por el desarrollo de aplicaciones móviles y web.</p>
      <p class="centered-text">Hemos tenido la oportunidad de desarrollar dos aplicaciones para el Centro de Innovación y Transferencia Tecnológica (CITT) como parte de nuestro camino académico.</p>
      <p class="centered-text">Nuestra aplicación actual se enfoca en proporcionar información sobre los indicadores económicos de Chile, abarcando tanto monedas físicas como digitales.</p>
      <h2 style="text-align: center;">Tecnologías usadas:</h2>
      
      <ul class="technology-icons-horizontal">
        <li><ion-icon name="logo-angular" style="font-size: 24px; color: brown;" ></ion-icon> <a href="https://angular.io/" target="_blank">Angular</a></li>
        <li><ion-icon name="logo-ionic" style="font-size: 24px; color: darkblue;"></ion-icon><a href="https://ionicframework.com/" target="_blank">Ionic</a></li>
        <li><ion-icon name="logo-html5" style="font-size: 24px; color:orangered;"></ion-icon><a href="https://html5.org/" target="_blank">HTML5</a></li>
        <li><ion-icon name="logo-npm" style="font-size: 24px; color: ora;"></ion-icon><a href="https://www.npmjs.com/" target="_blank">npm</a></li>
        <li><ion-icon name="logo-nodejs" style="font-size: 24px; color: green;"></ion-icon><a href="Node.js" target="_blank">Node.js</a></li>
      </ul>

      <h3 style="text-align: center;">Apóyanos</h3>
      <p class="centered-text">Si te ha gustado nuestra aplicación, puedes apoyarnos con donaciones a través de <a href="https://www.paypal.com/donate/?hosted_button_id=KST6SVA4HNRAN" target="_blank"><ion-icon name="logo-paypal"></ion-icon> PayPal</a> o ponerte en contacto con nosotros para desarrollar tu idea. Tu apoyo es fundamental para continuar brindando soluciones útiles y de alta calidad.</p>

      <h3 style="text-align: center;">Créditos a la API</h3>
      <p class="centered-text">Queremos dar créditos a la API que utilizamos en nuestras aplicaciones. Te invitamos a visitar la página del creador para obtener más información sobre su trabajo y sus proyectos <a href="https://www.victorsanmartin.com/" target="_blank">Victor San Martin</a>.</p>

      <h3 style="text-align: center;">Nuestras Redes Sociales</h3>
      <ul class="social-links">
        <li><ion-icon name="logo-linkedin" style="color: blue;"></ion-icon><a href="https://www.linkedin.com/in/danieljsq/" target="_blank">Daniel Suarez</a></li>
        <li><ion-icon name="logo-github"></ion-icon><a href="https://github.com/djsq200599" target="_blank">djsq200599</a></li>
        <li><ion-icon name="logo-instagram" style="color: #DD2A7B;"></ion-icon><a href="https://www.instagram.com/danieljsq/" target="_blank">danieljsq</a></li>
      </ul>
      <ul class="social-links">
        <li><ion-icon name="logo-linkedin" style="color: blue;"></ion-icon><a href="https://www.linkedin.com/in/orlandotobardiaz/?originalSubdomain=cl" target="_blank">Orlando Tobar</a></li>
        <li><ion-icon name="logo-github"></ion-icon><a href="https://github.com/Ragnaars" target="_blank">Ragnaars</a></li>
        <li><ion-icon name="logo-instagram" style="color: #DD2A7B;"></ion-icon><a href="https://www.instagram.com/ragnaarson/" target="_blank">ragnaarson</a></li>
      </ul>
      <p class="centered-text">Siguiéndonos o compartiendo nuestros perfiles con personas interesadas es una gran donación no monetaria a nuestra causa. Tu apoyo en las redes sociales nos ayuda a alcanzar a más personas. ¡Gracias por ser parte de nuestro equipo virtual!</p>
    </div>
  </ion-content>
</ion-content>

